body {
    font-family: 'Andada Pro', serif;
}


/* --- NAVBAR --- */
#navbar {
    background-color: rgba(68, 23, 82, 0.6);
    font-weight: 700;
}
 
#navbarExpand {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.15) 0px 6px 6px;
}

#navbarLogo {
    font-family: "Playfair Display", serif;
}

/* --- NAVBAR --- */
#reservationBtn {
    margin: 0 5% 60px 0;
}


/* --- FORMS --- */

.inputBox {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    border: 1px solid white;
    background-color: #F8F8F8;
    height: 42px;
}

.inputLabel {
    display: block;
    font-size: 0.875rem;  /* text-sm */
    font-weight: 500;     /* font-medium */
    color: #374151;       /* text-gray-700 */
    margin-bottom: 0.25rem; /* mb-1 */ 
}

.errorMsg {
    color: #C70039;
}

.inputBoxEditing {
    background-color: white;
    border-color: #361241;
}

.resModalTitle {
    color: #441752;
}

.formButton {
    width: 100%;
    background-color: #361241;
    color: white;
    font-weight: 500; 
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
}

.formButtonGray{
    background-color: #9CA3AF;
}